.image-profile-container {
    .image-profile {
        background-image: url("/images/bnw.png");
        width: 32.5vw;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
}