.active :nth-child(1) {
    background-color: white;
}

.image-icon-container {
    padding: 1em;
    .image-icon {
        width: 2em;
        height: 2em;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &:active {
        background-color: white;
    }
}

.image-icon-container.logo {
    background-color: #ffca3a;
}